body {
  background-image: url("assets/land.png");
  background-size: cover;
}
.player {
  background-image: url("assets/player_front.png");
  width: 80px;
  height: 100px;
  background-size: 240px 100%;
  background-position: -80px 0;
  position: fixed;
  z-index: 1000;
}
.player.walk {
  animation: walk 0.5s step-end infinite;
}
@keyframes walk {
  0%,
  32% {
    background-position: 0 0;
  }
  33%,
  65% {
    background-position: -80px 0;
  }
  66%,
  100% {
    background-position: -160px 0;
  }
}
.grass {
  width: 50px;
  height: 50px;
  z-index: 0;
  position: fixed;
  background-image: url("assets/grass.png");
  background-size: 100%;
}

.ball {
  width: 30px;
  height: 30px;
  background-image: url("assets/pokeball.png");
  position: fixed;
  z-index: 5;

  background-size: 100% 100%;
}
body h3 {
  background-color: #83ef8f;
  color: black;
  text-align: center;
  margin: 10px;
  padding: 30px;
  width: 120px;
  margin: 5px auto;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}
